<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="top.hanyue.canvasdemo">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TrackActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>

        <activity android:name=".BounceActivity"
                  android:theme="@style/Theme.AppCompat.NoActionBar"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop"/>

        <activity android:name=".ClockActivity"
                  android:theme="@style/Theme.AppCompat.NoActionBar"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop"/>

    </application>


</manifest>
